.career-details-container {
    position: relative;
    width: 100%;
}

.team-basic-information {
    padding: 10px;
    background-color: var(--theme-dark) !important;
    border-radius: 10px;
}

.team-information-box {
    margin-bottom: 5px;
}

@media (max-width: 768px) {
	.team-information-box  {
		margin-bottom: 5px;
        flex: 1;
	}
}

@media (min-width: 768px) {
    .team-details-box {
        margin-left: 20px;
        flex: 1;
    }
}

@media (max-width: 768px) {
	.team-details-box  {
		margin-bottom: 0px;
        flex: 1;
	}
}