.achievements-section {
    position: relative;
    width: 100%;
    margin-top: 10px;
    padding-bottom: 10px;
    background-color: var(--theme) !important;
    border-radius: 5px;
}

.table-achievements {
    width: 98%;
    margin: auto;
}