@font-face {
  	font-family: 'unageo';
  	src: local('unageo'), url('fonts/Tommy.ttf') format('truetype');
}

* {
	font-family: 'unageo', sans-serif !important;
}

@media (max-width: 768px) {
	html, body, #root {
		height: 100%;
		background-image: url('./Images/fifa15.jpg');
	}
}

@media (min-width: 768px) {
	html, body, #root {
		height: 100%;
		margin: 0;
		background-image: url('./Images/fifa15.jpg');
		background-size: cover;
	}
}

:root {
	--background: 	  #111111;
	--theme:		  #303030;
	--theme-dark:	  #1b1b1b;
  	--orange:         #ff8906;
  	--orange2:        #f25f4c;
	--tertiary: 	  #e53170;
	--headline:		  #fffffe;
	--text: 		  #ececec;
  	--text-secondary: #a7a9be;
}

.global-btn-style {
	color: var(--text) !important;
	background: var(--orange) !important;
}

.global-btn-style:hover {
	color: var(--text) !important;
	background-color: #ad610a !important;
}

.global-btn-off-style {
	color: var(--text) !important;
	background: var(--theme) !important;
}