.header-style {
    padding: 15px !important;
    background-color: var(--theme)!important;
    box-shadow: none !important;
}

.page-style {
    display: flex !important;
    position: relative !important;
    justify-self: center !important;
    width: 90%;
    color: var(--text) !important;
    margin-top: 7% !important;
    background-color: var(--theme) !important;
}