.choose-sponsor {
    position: relative !important;
    display: flex;
    justify-content: space-between;
    margin: auto !important;
    margin-top: 20px !important;
}

.player-geral {
    display: grid;
    max-height: 150px;
    width: 20%;
    padding: 20px;
    background: linear-gradient(var(--theme), var(--theme-dark));
    border-radius: 15px;
}

.brand {
    display: grid;
    justify-content: center;
    width: 75%;
    padding-top: 30px;
    background: linear-gradient(var(--theme), var(--theme-dark));
    border-radius: 15px;
}

.brand-logo-box {
    display: flex;
    width: 300px;
    height: 300px;
    margin-bottom: 20px;
    background: linear-gradient(var(--orange), var(--orange2));
    border-radius: 100%;
}

